body{
    background-color: #27362b;
    color: #072905;
}
a{
    text-decoration: none;
}
div a:hover{
    font-size: 18px;
}
.navbar{
    background-color: #11d107;
    height: 50px;
}
img{
    padding-left: 10px;
    padding-right: 5px;
}
#udv p{
    font-size: 0%;
    transition-property: font-size;
    transition-duration: 2s;
}
#udv p{
    text-align: center;
    font-size: xx-large;
}

.container{
    background-color: #9bc9a7;
    min-height: 700px;
}

.card{
    background-color: #11d107;
    text-align: center;
    width: 250px;
}

.card img{
    width: 200px;
    height: 200px;
}

.card h3{
    background-color: #0b8b04;
    width: 200px;
    border-radius: 5px;
}

.card a{
    color: #072905;
}

.card a h3{
    transition: .3s ease-in-out;
}

.card a:hover h3{
    font-size: 30px;
    width: 210px;
}

.footer{
    height: 10%;
    background-color: #11d107;
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    background-color: #11d107;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0b8b04;
}