body{
    background-color: #27362b;
    color: #072905;
}
a{
    text-decoration: none;
}
div a:hover{
    font-size: 18px;
}
.navbar{
    background-color: #11d107;
    height: 50px;
}
img{
    padding-left: 10px;
    padding-right: 5px;
}
#udv p{
    font-size: 0%;
    transition-property: font-size;
    transition-duration: 2s;
}
#udv p{
    text-align: center;
    font-size: xx-large;
}

.SITE{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #9bc9a7;
    height: 750px;
}

.menu{
    float: left;
}

.menu table tr td{
    padding: 20px;
}

.card{
    background-color: #11d107;
    margin: 10%;
    text-align: center;
    width: 250px;
}

.card img{
    margin-top: 5px;
    margin-left: 23px;
    width: 200px;
    height: 200px;
}

.card h3{
    background-color: #0b8b04;
    width: 200px;
    margin-left: 25px;
    margin-top: 5px;
    border-radius: 5px;
}

.card a{
    color: #072905;
}

.card a:hover h3{
    font-size: 30px;
    width: 210px;
    margin-left: 20px;
    transition-property: all;
    transition-duration: 0.3s;
}

.iadat{
    float: right;
}

.footer{
    height: 55px;
    background-color: #11d107;
}

.footer p{
    padding-left: 10%;
    margin: 0;
}